body {
	background-color: #eeeeee;
	margin: 0;
}

.title {
	margin: 0;
	padding: 1.875rem;
	text-align: center;
	background-color: white;
	font-size: 2.75rem;
}

.left-column {
	padding: 1rem;
	width: 25%;
}

.right-column {
	padding: 1rem;
	width: 75%;
}

.jumbotron {
	background-color: #dbdbdb;
}


.footer {
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: white;
  	text-align: center;
}

@media screen and (max-width: 800px) {
	.left-column, .right-column {
	  	width: 100%;
	}
  }

